@model wholewellness.ViewModels.FoodVM

@{
    ViewBag.Title = "AddMeal";
}

<h2>AddMeal</h2>

<br />
<br />

<h3>SelectMealType</h3>
<br />
<p>
    Breakfast
    Lunch
    Dinner
    Snack
</p>

<br />
<br />

<h3>AddContents</h3>
<br />
