
@{
    ViewBag.Title = "Meal";
}

    <div class="jumbotron">
        <h1 class="display-4">Meals</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <div class="text-center">
            <a class="btn btn-outline-info btn-lg" href="#" role="button">Add a Meal</a>
            <a class="btn btn-outline-info btn-lg" href="#" role="button">Favorites</a>
            <a class="btn btn-outline-info btn-lg" href="#" role="button">Healthier Options</a>
        </div>
    </div>

<h2>Food Diary For ____ </h2>

<br /><br />

<!-- add for loop for vm here -->
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>