@model wholewellness.ViewModels.HealthierOptionsVM

@{
    ViewBag.Title = "HealthierOptions";
}

<div class="ml-5 mt-5 pl-5 mr-5 pt-4 pb-5 border-wrapper">

    <h2 class="mb-4">See Healthier Options</h2>


    <div class="container">
        <div class="row">
            <div class="col-10">
                @Html.DropDownListFor(m => m.intPassedFoodItemID, new SelectList(Model.possibleFoodItems, "intFoodItemID", "strFullNameAndCals", "Select a Food Item"), new { @placeholder = "What would you like to see alternatives for?", id = "foodDropDown", @class = "form-control" })
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-light" onclick="searchFoodAlternatives()">Search</button>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    
    <div id="food-results">
        @{ @Html.Partial("_HealthierOptionsResults", Model._results_vm) }
    </div>
    

</div>