@model wholewellness.ViewModels.AddWorkoutVM

@{
    ViewBag.Title = "Add Workout";
}

<div class="ml-5 mt-5 pl-5 mr-5 pt-4 border-wrapper">

    <h2>Add a Workout:</h2>


    @using (Html.BeginForm("PostNewWorkout", "ExerciseType", FormMethod.Post))
    {
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <h4>Use the dropdown to add Exercises to the workout:</h4>
                </div>
            </div>
            <div class="row">
                @Html.DropDownListFor(m => m.arrExercises, new SelectList(Model.possibleExercises, "intExerciseTypeID", "strName"), new { @multiple = "multiple", @placeholder = "What exercises did you complete?", id = "workoutDropDown", @class = "form-control" })
            </div>

        </div>

        @Html.HiddenFor(m => m.intPassedUserID, new { @Value = Model.user.intUserID })
        @Html.HiddenFor(m => m.intPassedCurrentDayID, new { @Value = Model.currentDayForUser.intDayID })


        <input type="submit" value="Add Workout" class="form-control col-4 m-5 btn-primary" />

    }

</div>
